@{
    ViewData["Title"] = "Home Page";
}

<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Welcome to the Online Magic Decoder</h1>
        <p class="lead">
            Do you have a passion for decoding? Then you have landed at the right website. We offer
            tools for frequency analysis, a cryptanalysis method studying the frequency of letters or
            groups of characters in a ciphered message.
        </p>
        <p class="lead">
            Happy Decoding!
        </p>
        <p class="lead">
            <a target="_blank" class="btn btn-primary btn-lg btn-md" href="https://www.webnots.com/bootstrap-4-jumbotron-tutorial/" role="button">
            Let's begin the magic journey!</a>
        </p>
    </div>
</div>
<!--Jumbotron-->

